@import '../../styles/variables.scss';

.selection {  
  &__mode {
    &--item {
      margin-left: 15px;
      height: 35px;
      width: 160px;
      border: 1px solid $darkColor;
      padding-left: 12px;
      border-radius: 2px;
      font-family: inherit;
    }
  }
}

.select {
  outline: none;
  border: 1px solid $darkColor;
}
